* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}
.btn{
    width: 130px;
    border-radius: 1020px;
}
.btn1,.btn2{
  width: 80px;
}
.btn3{
  width: 105px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:black ;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}
@media screen and (min-width: 992px)
{
  .collapse{
    -webkit-text-stroke: thin;
    padding-left: 46%;
  }
}

.nav-item {
  display: flex;
  justify-content: space-around;
}
.nav-item li {
  list-style: none;
}
.nav-item a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
}
.nav-item a:hover{
  border-radius :1020px;
  transition: 0.6 s all;
  background-color: white;
  min-height: 25px;
}
body,html {
    background: url(https://images.unsplash.com/photo-1548124542-95039a9624d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size :10px;
    font-family: 'Cinzel', serif;
}
h1{
  font-weight: bold;  
}
.jumbotron{
  background-color: rgba(170,170,170,0.5);
  margin-right: 5%;
  margin-left: 5%;
}

#fact{
  display: block;
  font-size: 20px;
  text-shadow: none;
}