* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}

.navbar {
  background:transparent;

}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: black;
  opacity: 0.9;
  
}

.btn{
    width: 130px;
    border-radius: 1020px;
}
.btn1,.btn2{
  width: 80px;
}
.btn3{
  width: 105px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:black ;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}
@media screen and (min-width: 992px)
{
  .collapse{
    -webkit-text-stroke: thin;
    padding-left: 46%;
  }
}

.navbar-toggler-icon{
  background: url(images/outline_reorder_white_18dp.png) no-repeat center center;
}

.nav-item {
  display: flex;
  justify-content: space-around;
}
.nav-item li {
  list-style: none;
}
.nav-item a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
}
.nav-item a:hover{
  border-radius :1020px;
  transition: 0.6 s all;
  background-color: white;
  min-height: 25px;
}
body,html {
    background: url(images/bg1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-size :10px;
}
h1{
  font-weight: bold;  
}
.jumbotron{
  background-color: rgba(170,170,170,0.5);
  margin-right: 5%;
  margin-left: 5%;
}

#fact{
  display: block;
  font-size: 20px;
  text-shadow: none;


}

h2{
  line-height: 30px;
  font-family: 'Josefin Sans', sans-serif;
  word-spacing: 3px;
}

