html {
    background: url(https://images.unsplash.com/photo-1548124542-95039a9624d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    text-align: center;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 a {
    color: black;
}