* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}
.btn{
    width: 135px;
    border-radius: 1020px;
}
h2{
  margin-top: 200px;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}
@media screen and (min-width: 992px)
{
  .collapse{
    -webkit-text-stroke: thin;
    padding-left: 45%;
  }
}

/*navbar css start*/
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn{
  width: fit-content;
  font-size: 1.5rem;
}

.btn-outline-light{
  border-color: transparent;
}
/*navbar css end*/

body,html {
    background: url(https://images.unsplash.com/photo-1548124542-95039a9624d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size :10px;
    font-family: 'Cinzel', serif;
}
h2 {
    text-align: center;
    letter-spacing: 3px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 50px;

}

h3 {
    text-align: center;
    letter-spacing: 2px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size:25px;
}

h3 a {
    color: black;
}

h1{
    text-align: center;
}

#home{
    color: black;
}