* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}
.btn{
    width: 135px;
    border-radius: 1020px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:black ;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}
@media screen and (min-width: 992px)
{
  .collapse{
    -webkit-text-stroke: thin;
    padding-left: 45%;
  }
}

.nav-item {
  display: flex;
  justify-content: space-around;
}
.nav-item li {
  list-style: none;
}
.nav-item a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
}
.nav-item a:hover{
  border-radius :1020px;
  transition: 0.6 s all;
  background-color: white;
  min-height: 25px;
}
body,html {
    background: url(https://images.unsplash.com/photo-1548124542-95039a9624d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size :10px;
}
.developer-wrapper{
	margin: 100px auto;
	width: 80%;
}
.developer-section{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 4.0rem;
	justify-content: center;
	align-items: center;
}
.developer_name{
	max-width: 240px;
	border-radius: 5px;
	background-color: #5cb85c;
	color: #fff;
	cursor: pointer;
	box-shadow: 2px 2px 5px 3px #5cb85c27;
  text-align: center;
}
.developer-img{
	border-radius: 5px 5px 0px 0px;
}
p{
	text-align: center;
	margin: 1.2rem auto;
	font-size: 1.8rem;
	font-weight: 600;
}
@media screen and (max-width: 992px)
{
	.developer-wrapper{
		margin-top: 200px;
	}
}
@media screen and (max-width: 700px)
{
	.developer-section{
		grid-template-columns: auto;
	}
}

.d{
	margin: 1.2rem auto;
	font-size: 1.8rem;
	font-weight: 600;
  color: white;
}
