* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}

.navbar {
  background:transparent;

}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: black;
  opacity: 0.9;
  
}

.btn{
width: 130px;
border-radius: 1020px;
}
.btn1,.btn2{
  width: 80px;
}
.btn3{
  width: 105px;
}
h1{
  margin-top: 50px;
}
marquee{
  color: black;
  margin-top: 80px;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:black ;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}
@media screen and (min-width: 992px)
{
  .collapse{
    -webkit-text-stroke: thin;
    padding-left: 46%;
  }
}

.navbar-toggler-icon{
  background: url(images/outline_reorder_white_18dp.png) no-repeat center center;
}

.nav-item {
  display: flex;
  justify-content: space-around;
}
.nav-item li {
  list-style: none;
}
.nav-item a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
}
.nav-item a:hover{
  border-radius :1020px;
  transition: 0.4s all;
  background-color: white;
  min-height: 25px;
}

@media screen and (min-width: 873px){
#head-animation{
  font-size: 40px;
  -webkit-transition:font-size 2s; /* For Safari 3.1 to 6.0 */
  transition: font-size 2s;
}

#head-animation:hover{
  font-size: 80px ;
}
}

@media screen and (max-width: 872px){
  #head-animation{
    font-size: 30px;
  }
} 

@media screen and (max-width: 472px){
  .first-img{
    height: 40px;
  }
  
  .second-img{
    height: 40px;
  }
}

h1{

    color:black;
    text-align: center;
    text-shadow: 0px 30px 20px  black;
    font-size: 5rem;
    padding-top: 5%;
}

.jumbotron{
  background-color: rgba(170,170,170,0.5);
  margin-right: 10%;
  margin-left: 10%;
}

#fact{
  display: block;
  font-size: 20px;
  text-shadow: none;
}

p{
    color: black;
    text-align: center;
    text-shadow: 0px 30px 20px  black;
    font-size:  3rem;
}

  body,html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: url(images/bg1.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
  }

  .keys {
    display: flex;
    flex: 1;
    min-height: 53vh;
    align-items: center;
    justify-content: center;
  }

  .key {
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition:all 0.5s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

  .c1{border: .4rem solid red;}
  .c2{border: .4rem solid blue;}
  .c3{border: .4rem solid yellow;}
  .c4{border: .4rem solid green;}
  .c5{border: .4rem solid orange;}
  .c6{border: .4rem solid pink;}
  .c7{border: .4rem solid black;}

  .playing {
    transform: scale(1.1);
    border-color:blue;
    box-shadow: 0 0 1rem blue;
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  .artist-link{
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.0rem;
  }

  .artist-link:hover{
    color: #fff;
  }