* {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:black ;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.nav-links a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

.nav-links li {
  list-style: none;
}

h1{
    
    color:black;
    text-align: center;
    text-shadow: 0px 30px 20px  black;
    font-size: 5rem;
    padding-top: 5%;
}
p{
    color: black;
    text-align: center;
    text-shadow: 0px 30px 20px  black;
    font-size:  3rem;
}
  
  body,html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: url(https://images.unsplash.com/photo-1548124542-95039a9624d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) bottom center;
    background-size: cover;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition:all 0.5s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color:blue;
    box-shadow: 0 0 1rem blue;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  
